workflows/Backup  Workflows to GitHub.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-24T09:08:56.973Z",
  "id": "SboRkE4At5T1YMqX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup  Workflows to GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "388c723f-dd0e-44dd-aab2-a02cb84988d4",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1265,
        555
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "viktorbezdek",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "list.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "8c11f681-6b3b-4826-bb90-8e297bec89f6",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -420,
        520
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "iIv5qyag3gftTzWU",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "74acf1f2-c31c-4a46-8242-a8b0c4022976",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        220,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "26107ddb-1609-464a-a3bc-3ba11b10e776",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        460,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0e03d27b-6c36-47e0-893f-fa713d36dd44",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        460,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0e00abde-de8e-4868-beab-d1f65aa7aaf2",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        460,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "viktorbezdek",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "list.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "c41c1d00-43de-4971-80c3-2ee049ee4eec",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        640,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "iIv5qyag3gftTzWU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=viktorbezdek",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=n8n-backup",
          "mode": "name"
        },
        "filePath": "=list.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "23434e5f-0b34-4d6a-bafd-afeb1500b8a7",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        640,
        840
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "iIv5qyag3gftTzWU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1b648112-9ff2-4d0a-8a85-95e99e79be79",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -640,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "m3tam3re"
            },
            {
              "name": "repo.name",
              "value": "n8n-backup"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "b8f7affc-71bf-4373-9185-3d86c3ee985d",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1080,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "7a4c2241-20c1-4589-9375-94140afe33a1",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1265,
        815
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "bc09627a-3e0b-4a48-8501-502aa924a1e8",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -880,
        680
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "UYBbaIbfNm7hO7Pz",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "75c709a6-fe6c-487a-8d22-3d786c3992de",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -20,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4e98c90f-d87c-4d55-81ec-25dab97092e0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -200,
        660
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-24T09:16:45.291Z",
  "versionId": "bc74c247-fe99-487b-a1a9-534c728194e9"
}