workflows/Check Tools liveness.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Add info to changelog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add discontinued info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add discontinued info": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add info to changelog": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-26T07:13:23.578Z",
  "id": "ixV6ZM167AWPBDCw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Check Tools liveness",
  "nodes": [
    {
      "parameters": {},
      "id": "051d6b7c-2845-4abd-a066-9bd2b2e360df",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        440,
        500
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tools",
          "mode": "list",
          "cachedResultName": "tools"
        },
        "returnAll": true,
        "options": {
          "outputColumns": [
            "id",
            "href"
          ]
        }
      },
      "id": "900f0341-47fd-430c-b58d-70d86649c29a",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        660,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "tko4ipYnhuLrtVYX",
          "name": "Vercel AI Catalog DB"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "id": "bd13be8b-df32-4c75-b2c6-93988b672f7d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        620
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tools",
          "mode": "list",
          "cachedResultName": "tools"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_published": false,
            "is_discontinued": true,
            "id": "={{ $('Postgres').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "href",
              "displayName": "href",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_features",
              "displayName": "key_features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "benefits",
              "displayName": "benefits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "lqip",
              "displayName": "lqip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "pricing",
              "displayName": "pricing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "category_ids",
              "displayName": "category_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_published",
              "displayName": "is_published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "upvotes",
              "displayName": "upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "downvotes",
              "displayName": "downvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_discontinued",
              "displayName": "is_discontinued",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bb5237c2-9a54-4a64-9656-3182b3bd94c5",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1240,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "tko4ipYnhuLrtVYX",
          "name": "Vercel AI Catalog DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Zl5FHnFJy77UJhXGMevQErvbIMrJX-GJYA0mX6Zvfq0",
          "mode": "list",
          "cachedResultName": "AI Catalog changelog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl5FHnFJy77UJhXGMevQErvbIMrJX-GJYA0mX6Zvfq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 608697885,
          "mode": "list",
          "cachedResultName": "Dead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl5FHnFJy77UJhXGMevQErvbIMrJX-GJYA0mX6Zvfq0/edit#gid=608697885"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Postgres').item.json.id }}",
            "href": "={{ $('Postgres').item.json.href }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "d4a9e81f-ef41-4428-8e7f-a218aaac2cab",
      "name": "Add discontinued info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1240,
        820
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vkLyWQX7TMf4wP6O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Zl5FHnFJy77UJhXGMevQErvbIMrJX-GJYA0mX6Zvfq0",
          "mode": "list",
          "cachedResultName": "AI Catalog changelog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl5FHnFJy77UJhXGMevQErvbIMrJX-GJYA0mX6Zvfq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl5FHnFJy77UJhXGMevQErvbIMrJX-GJYA0mX6Zvfq0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "=Tool with ID  {{ $('Postgres').item.json.id }} on  {{ $('Postgres').item.json.href }} was checked",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6d858c9b-2fc9-46b6-9f29-a82c9b7e6a62",
      "name": "Add info to changelog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1920,
        1140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vkLyWQX7TMf4wP6O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eeaf6adb-5d8f-4c63-892c-b7f68d9ecee6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-06-26T07:24:44.604Z",
  "versionId": "a3f24ab8-ac05-4b93-a179-feb4c09d18de"
}